doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="css/style.css")
  body(ng-app="app")
    a(href="https://github.com/garbados/chaiseblog")
      img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 1001;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
    .row
      .col-md-12
        .row
          .col-md-2
            img(src="#{logo}", style="width: 100%;")
            h1
              a(href="#")= title
            p= bio
            hr
            ul.nav.nav-pills.nav-stacked
              li
                a(href="#/drafts") Drafts
              li
                a(href="#/new") Submit
            hr
            ul.nav.nav-pills.nav-stacked
              - each link in links
                li
                  a(href="#{link.url}", target="_blank")= link.title
          .col-md-10(ng-view)
    script(type='text/javascript', src="js/app.min.js")